.sidebar {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--header-height) 20px;
  min-height: 100vh;
  background-color: var(--primary-with-opacity-2);
  overflow: hidden;
  white-space: nowrap;

  opacity: 0;
  transition: opacity 1200ms ease-in-out;

  width: 0;
  transition: width 200ms ease-out;

  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  .logo {
    align-self: center;
  }
}
